<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title_1</title>
</head>
<form method="post" name="myForm" action="" onsubmit="">
    {% for item in range(1, NUM_QUES + 1) %}
    <h2>Вопрос {{item}} из {{NUM_QUES}}</h2>
    <div class="form-group col-sm-4">
        <label for="exampleFormControlTextarea1">Вопрос</label>
        <textarea class="form-control" id="exampleFormControlTextarea_0" name="question_{{item}}"  rows="1"></textarea>
    </div>
    <br>
    <div class="form-group form-inline">
        <label for="exampleFormControlTextarea1">Ответ #1</label>
        <textarea class="form-control" id="exampleFormControlTextarea_4" rows="1" name="reply_1_{{item}}"></textarea>
        <label for="inputState">Количество баллов</label>
        <select id="inputState_1" name="inputState_1_{{item}}" class="form-control">
            <option selected>0</option>
            <option selected>1</option>
            <option selected>2</option>
            <option selected>3</option>
            <option selected>4</option>
        </select>

    </div>
    <div class="form-group form-inline">
        <label for="exampleFormControlTextarea1">Ответ #2</label>
        <textarea class="form-control" id="exampleFormControlTextarea_1" name="reply_2_{{item}}" rows="1"></textarea>
        <label for="inputState">Количество баллов</label>
        <select id="inputState_2" name="inputState_2_{{item}}" class="form-control">
            <option selected>0</option>
            <option selected>1</option>
            <option selected>2</option>
            <option selected>3</option>
            <option selected>4</option>
        </select>
    </div>
    <div class="form-group form-inline">
        <label for="exampleFormControlTextarea1">Ответ #3</label>
        <textarea class="form-control" id="exampleFormControlTextarea_2" name="reply_3_{{item}}" rows="1"></textarea>
        <label for="inputState">Количество баллов</label>
        <select id="inputState_3" name="inputState_3_{{item}}" class="form-control">
            <option selected>0</option>
            <option selected>1</option>
            <option selected>2</option>
            <option selected>3</option>
            <option selected>4</option>
        </select>
    </div>
    <div class="form-group form-inline">
        <label for="exampleFormControlTextarea1">Ответ #4</label>
        <textarea class="form-control" id="exampleFormControlTextarea_3" name="reply_4_{{item}}" rows="1"></textarea>
        <label for="inputState">Количество баллов</label>
        <select id="inputState_4" name="inputState_4_{{item}}" class="form-control">
            <option selected>0</option>
            <option selected>1</option>
            <option selected>2</option>
            <option selected>3</option>
            <option selected>4</option>
        </select>
    </div>
    {% endfor %}
    {% for item in range(1, NUM_FIN + 1) %}
    <h2>Вывод {{item}} из {{NUM_FIN}}</h2>
    <div class="form-group form-inline">
        <textarea class="form-control"  rows="1" name="final_{{item}}"></textarea>
        <label for="inputState">Количество баллов <=</label>
        <select name="final_state_{{item}}" class="form-control">
            {% for item in range(1, NUM_QUES * 4 + 1) %}
            <option selected>{{item}}</option>
            {% endfor %}
        </select>

    </div>
    {% endfor %}
    <p><input type=submit value=Дальше></p>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>