<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Title</title>
</head>
<form method="post" name="myForm" action="" onsubmit="">
    <div class="form-group col-sm-4">
        <label for="exampleFormControlTextarea1" class="text-{{NAME_COLOUR}}">{{NAME_PARAGRAPH}}</label>
        <textarea class="form-control" id="exampleFormControlTextarea_0" name="name" rows="1"></textarea>
    </div>
    <div class="form-group col-sm-4">
        <label for="exampleFormControlTextarea1" class="text-{{SHORT_DESCRIPTION_COLOUR}}">{{SHORT_DESCRIPTION_PARAGRAPH}}</label>
        <textarea class="form-control" id="exampleFormControlTextarea_1" name="short_description" rows="2"></textarea>
    </div>
    <div class="form-group col-sm-4">
        <label for="exampleFormControlTextarea1" class="text-{{LONG_DESCRIPTION_COLOUR}}">{{LONG_DESCRIPTION_PARAGRAPH}}</label>
        <textarea class="form-control" id="exampleFormControlTextarea_2" name="long_description" rows="2"></textarea>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Количество вопросов</label>
        <select id="inputState_0" name="inputState_0" class="form-control">
            <option selected>16</option>
            <option selected>15</option>
            <option selected>14</option>
            <option selected>13</option>
            <option selected>12</option>
            <option selected>11</option>
            <option selected>10</option>
            <option selected>9</option>
            <option selected>8</option>
            <option selected>7</option>
            <option selected>6</option>
            <option selected>5</option>
            <option selected>4</option>
            <option selected>3</option>
            <option selected>2</option>
            <option selected>1</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Категория</label>
        <select id="inputState_1" name="category" class="form-control">
            <option selected>Для мальчиков</option>
            <option selected>Для девочек</option>
            <option selected>Другое</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Количество конечных выводов</label>
        <select id="inputState_2" name="inputState_2" class="form-control">
            <option selected>16</option>
            <option selected>15</option>
            <option selected>14</option>
            <option selected>13</option>
            <option selected>12</option>
            <option selected>11</option>
            <option selected>10</option>
            <option selected>9</option>
            <option selected>8</option>
            <option selected>7</option>
            <option selected>6</option>
            <option selected>5</option>
            <option selected>4</option>
            <option selected>3</option>
            <option selected>2</option>
            <option selected>1</option>
        </select>
    </div>
            <p><input type=submit value=Выбрать></p>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>
