<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="">
    <div class="card col-md-4" style="width: 18rem;">
        <img class="card-img-top" src={{item["cover"]}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item["name"]}}</h5>
            <p class="card-text">{{item["long_description"]}}</p>
            <form method="post">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Пройти тест &raquo;</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
