<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
    <link rel="shortcut icon" href="{{  url_for('static', filename='icon.ico')  }}">
    <style>
    .button {
        position: absolute;
    }
    .buttton {
      background-color: #42aaff;
      border: none;
      color: white;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    p {
    font-size: 14pt;
    }
    </style>
</head>
<body>
<h2>
    {{CONCLUSION}}
</h2>
<img class="card-img-top" src={{PATH}} alt="Card image cap">
<form action="/">
    <button class="buttton">На главную &raquo;</button>
    </button>
</form>
</body>
</html>
