
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tests4u</title>
    <link rel="shortcut icon" href="{{  url_for('static', filename='icon.ico')  }}">
<style>
h1 {text-align: center;}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
}
.buttton {
  background-color: #42aaff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
<h1>
    {{DESCRIPTION}}
</h1>
<form method="post">
    <div class="wrapper">
    	<button class="buttton">Поехали &raquo;</button>
	</div>
</form>
</body>
</html>